
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>
<h3>Антон Чолаков</h3>
<p>Факултетен номер: 1401681001</p>
<hr/>
<h3>Аня Андреева</h3>
<p>Факултетен номер: 1401681004</p>
<hr />
<h3>Ведат Мурат</h3>
<p>Факултетен номер: 1401681043</p>
